# Intervals.icu Settings
INTERVALS_ATHLETE_ID=your_athlete_id
INTERVALS_API_KEY=your_api_key

# Garmin Connect Settings
GARMIN_EMAIL=your_email
GARMIN_PASSWORD=your_password

# Ride with GPS Settings
RWGPS_API_KEY=your_api_key
RWGPS_EMAIL=your_email
RWGPS_PASSWORD=your_password
